@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

.book-finder-section {
  background-image: url("src/assets/background-image1.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;

  h1 {
    font-size: 2.5rem;
    color: rgb(243, 83, 20);
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(180, 178, 178);
    display: inline-block;
    padding-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
    color: rgb(5, 5, 5);
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(5, 5, 5, 0.2);
  }

  .book-finder-container {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    align-items: center;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0px 0px 10px rgba(5, 5, 5, 0.3);

    select {
      padding: 10px 40px;
      background-color: rgb(253, 254, 255);
      font-size: 1rem;
      border-radius: 10px;
      border: none;
      box-shadow: 0px 0px 8px rgba(5, 5, 5, 0.2);
      transition: all 0.3s ease;

      &:focus {
        outline: none;
        box-shadow: 0px 4px 6px rgba(5, 5, 5, 0.3);
      }
    }

    button {
      padding: 10px 20px;
      background-color: rgb(5, 65, 156);
      color: white;
      border: none;
      border-radius: 10px;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: rgb(4, 50, 120);
        transform: scale(1.05);
      }
    }
  }
}
