@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

.books-card{
  width: 260px;
  background-color: rgb(241, 238, 238);
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(5, 5, 5, 0.2);
  overflow: hidden;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 15px rgba(5, 5, 5, 0.3);
  }

  img {
    width: 260px;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid rgb(180, 178, 178);
    padding-bottom: 10px; 
}

h3{
  border-bottom: 2px solid rgb(180, 178, 178);
  margin-left: 5px;
 font-size: 1rem;
  padding: 10px;
  color: rgb(38, 110, 4);
}

p{
  padding: 10px;
  color: rgb(5, 5, 5);
}
button{
  margin: 10px;
  padding: 10px 20px;
  background-color: rgb(201, 81, 12);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover{
  background-color: rgb(112, 131, 5);
}
}