@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

.feature-card-container{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    justify-content: center;
    padding: 20px;
    width: 30%;
    background-color: rgb(226, 226, 241);
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(5, 5, 5, 0.2);
    padding: 10px;

    img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 10px;
    }

    .content-container{
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2{
            border-bottom: 2px solid rgb(5, 5, 5);
            padding-bottom: 5px;
            font-size: 1.5rem;
        }

        .description{
            font-size: 1rem;
            color: rgb(5, 5, 5);
        }
    }
}