@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

.footer{
    background-image: url('src/assets/background-image2.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px -10px 10px rgba(5, 5, 5, 0.2);

    .quick-links,.support{


        h1{
            border-bottom: 2px solid rgb(151, 148, 148);
            color: rgb(196, 74, 18);
            padding: 10px;
            margin-bottom: 20px;
        }

        ul li{
            list-style: none;
            margin: 10px 0;
            color: rgb(5, 5, 5);
            font-size: 1rem;
            transition: all 0.3s ease;

            &:hover{
                color: rgb(196, 74, 18);
                transform: scale(1.1);

            }
            
        }
        ul li a{
                text-decoration: none;
            }
    }

    .Follow-us{
        h1{
            border-bottom: 2px solid rgb(151, 148, 148);
            color: rgb(196, 74, 18);
            padding: 10px;
            margin-bottom: 20px;
        }

        .social-icons{
            display: flex;
            gap: 20px;

            a .icon{
                width: 30px;
                height: 30px;
                transition: all 0.3s ease;

                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}